@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.after-game {
  /* background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat; */
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.your-score {
  font-family: 'Press Start 2P', cursive;
  color: darkorange;
  margin-top: 5.6rem;
  margin-bottom: 3rem;
  font-size: 700%;
}

.after_game_slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;
  top: 1%;

  /* size */
  width: 44rem;
  height: 30%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.after_game_slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 100%;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
.after_game_slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);
  color: red;
  text-shadow: 1px 1px white;

  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.after_game_slide_item.item1 {
  background-color: transparent;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}

.after_game_slide_item > img {
  width: auto;
  height: 100%;
  border-radius: 1rem;

}

#recommend-information {
  margin-left: 3%;
  width: 55%;
  text-align: start;
}

#recommend-title {
  position: absolute;
  top: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}

#recommend-review {
  position: absolute;
  top:38.5%;
  word-break:keep-all;
  width: 55%;
  word-wrap: normal;
}

#recommend-information img {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  width: 2rem;
  height: 2rem;
}

.result-flip {
  width: 58rem;
  height: 15rem;
  perspective: 1100px;
  border: 1px solid rgba(255,255,255,0);
  background-color: transparent;
}

.result-card {
  width: 100%; 
  height: 100%; 
  position: relative;
  transition: .5s;
  transform-style: preserve-3d;
}

.result-front, .result-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.result-back {
  transform: rotateY(180deg);
  font-family: 'Press Start 2P', cursive;
}

.result-back input {
  font-size: larger;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Galmuri7';
  width: 45%;
  height: 4rem;
  background-color: orange;
  color: black;
  border: 2px dashed black;
  border-radius: 0.5rem;
  margin: 0;
}

.result-flip:hover .result-card {
  transform: rotateY(180deg);
}

#home-link {
  position: fixed;
  top: 2%;
  right: 2%;
}

.pointer-guide {
  position: absolute;
  width: 12%;
  height: 60%;
  top: 50%;
  right: 28%;
}