@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

html {
  width: 100%;
  height: 100%;
  padding: 0;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.hidden {
  display: none !important;
}

.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;
  

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;
  /* size */
  width: 100%;
  height: 100%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 50%;
  height: 100%;
  
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  /* 기본 디폴트 값이 1로 선언되어있음 */
  flex-shrink: 0;

  /* filter: brightness(0.6); */
  /* transition */
  transition: left 1s;
}

.slide_item img {
  position: absolute;
  max-width: 100%;
  height: auto;
  
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
/* .item {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/mEf7JUktBcr229QSXeEN6TbV6I2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: darkgray;
} */

#answer-form {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px black;
  position: relative;
  width: 10rem;
  height: 4rem;
  border: solid 4px white;
  background-color: transparent;
  color: white;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 150%;
  margin-top: 1.3rem;
}

.up_btn {
  bottom: -1%;
  cursor: pointer;
}

.down_btn {
  bottom: -5%;
  cursor: pointer;
}

.up_btn:hover {
  background-color: white;
  color: lightgreen;
  border: solid 4px lightgreen;
  transition: 0.7s;
}

.down_btn:hover {
  background-color: white;
  border: solid 4px rgb(253, 179, 41);
  color: rgb(253, 179, 41);
  transition: 0.7s;
}

.movie-title {
  font-family: 'Galmuri11';
  position: relative;
  top: -5%;
  text-align: center;
  color: white;
  font-size: 320%;
  text-shadow: 1px 1px 1.5px black;
  word-break: keep-all;
}

.count {
  font-family: 'Galmuri9';
  text-align: center;
  color: beige;
  font-size: 300%;
  text-shadow: 1px 1px 1px black;
}

.result-score {
  display: flex;
  flex-direction: column;
  color: white;
}

.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  font-size: 3rem; 
  -webkit-text-fill-color: lightcyan; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: deeppink;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}

.score-btn {
  cursor: pointer;
  position: absolute;
  bottom: 40%;
}

#coin {
  position: relative;
  margin: 0 auto;
  bottom: 57%;
  width: 8rem;
  height: 8rem;
  font-size: 200%;
  color: white;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
}

.side {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
}

.vs-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  z-index: 10;
}

.vs-back {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transform:rotateY(-180deg);
  padding-bottom: 0.55rem;
  font-size: 140%;
}

.versus-word {
  font-family: 'Galmuri7';
  align-self: center;
  text-shadow: 1px 1px black;
}

.score {
  font-family: 'Galmuri9';
  position: absolute;
  color: white;
  text-align: center;
}

.best-score {
  left: 1%;
  top: 0.7%;
}

.now-score {
  right: 1%;
  top: 0.7%;
}

.loading {
  background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}