@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.index {
  background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../static/image/index/up&down2.gif);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  
}

.img-container {
  position: relative;
  left: -1rem;
  top: -1rem;
}

.up-img {
  position: relative;
  top: -6rem;
  left: 7rem;
  z-index: 2;
}

.and-img {
  position: relative;
  top: -4rem;
  left: 2rem;
  z-index: 1;
}

.down-img {
  position: relative;
  top:2rem;
  left: -3rem;
}

#game-explanation {
  font-family: 'Galmuri9';
  font-size: 280%;
  margin-bottom: 0;
}

.index-forms {
  display: flex;
  justify-content: center;
}

.index-btn {
  font-family: 'Press Start 2P', cursive;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  width: 11rem;
  height: 4rem;
  border: solid 2px white;
  background-color: transparent;
  color: white;
  border-radius: 7rem;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}

#start-btn:hover {
  background-color: white;
  border: solid 2px lightgreen;
  color: lightgreen;
  transition: 0.3s;
}

#score-btn:hover {
  background-color: white;
  border: solid 2px orange;
  color: orange;
  transition: 0.3s;
}

.show-stage {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  border: 3px solid white;
  width: 11rem;
  height: 5rem;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0;
  border-radius: 5%;
}

#stage-name {
  margin-left: 1rem;
  width: 70%;
}

.stage-up-btn h3 {
  width:1rem;
  cursor: pointer;
  position: absolute;
  top: -0.1rem;
  right: 0.65rem;
}

.stage-up-btn h3:hover {
  color: lightgreen;
  top: -0.5rem;
  transition: 0.5s;
}

.stage-down-btn h3 {
  width:1rem;
  cursor: pointer;
  position: absolute;
  bottom: -0.1rem;
  right: 0.65rem;
}

.stage-down-btn h3:hover {
  color: orange;
  bottom: -0.5rem;
  transition: 0.5s;
}