{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% comment %} <button onclick="location.href='{% url 'gameclear' %}'">clear</button>
  <br> {% endcomment %}
  {% comment %} <button onclick="location.href='{% url 'gameclear' %}'">clear</button>
  <button onclick="location.href='{% url 'myapp:gameover' forloop.counter0 %}'"> Gameover </button> {% endcomment %}
  <div class="slide slide_wrap">
  {% for movie in randomdata %}
  {% if forloop.first %}
  <div class="slide_item item">
    <h1 class="movie-title">{{ movie.title }}</h1>
    <div class="result-score">
      <h2 class="count">{{ movie.userRating }} 점</h2>
      <div class="star-ratings">
        <div id="first-score" class="star-ratings-fill">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        <div class="star-ratings-base">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="slide_item item">
    <h1 class="movie-title">{{ movie.title }}</h1>
    <div class="hidden result-score">
      <h2 class="count">0</h2>
      <div class="star-ratings">
        <div class="star-ratings-fill">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        <div class="star-ratings-base">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
      </div>
    </div>
    <form id="answer-form" method="POST" action="{% url 'myapp:gameover' forloop.counter0 stage %}">
      {% csrf_token %}
      <button class="up_btn answer-btn">up▲</button>
      <button class="down_btn answer-btn">down▼</button>
    </form>
    <form id="full-score-form" class="hidden" action="{% url 'myapp:gameclear' stage %}" method="POST">
      {% csrf_token %}
    </form>
  </div>
  {% endif %}
  {% endfor %}
  <div class="best-score score">
    <h3>최고 점수</h3>
    <h2 id="best-score">0</h2>
  </div>
  <div class="now-score score">
    <h3>현재 점수</h3>
    <h2 id="now-score">0</h2>
  </div>  
  </div>
  <div id="coin" class="versus-circle">
    <div class="side vs-front">
      <h1 class="versus-word">VS</h1>
    </div>
    <div class="side vs-back"></div>
  </div>
  <div class="loading">
    <img src={% static 'image/index/loading.gif' %} alt="">
  </div>
  

{% endblock content %}
{% block script %}
 {% comment %} <script src="{% static 'javascripts/game.js' %}"></script> {% endcomment %}
 <script>
  
  let movie = [
    {% for movie in randomdata %}
      {
        title: "{{ movie.title }}",
        poster_path: "{{ movie.poster_path }}",
        rating: "{{ movie.userRating }}"
      },
    {% endfor %}
  ]

  console.log(movie)

  const sItems = document.querySelectorAll(".item")
    
  const vsCircle = document.getElementById("coin")
  const backCircle = document.querySelector(".vs-back")
  // 버튼 클릭할 때 마다 현재 슬라이드가 어디인지 알려주기 위한 변수
  let currSlide = 0;

  // 평점 별이미지 중 덮고 있는 이미지
  const ratings = document.querySelectorAll(".star-ratings-fill");
  ratings.forEach((i) => {
    i.style.width = 0 + '%';
  })

  // 슬라이크 전체 크기(width 구하기)
  const slide = document.querySelector(".slide");
  let slideWidth = (slide.clientWidth)/2;

  // 버튼 엘리먼트 선택하기
  const prevBtn = document.querySelector(".slide_prev_button");
  const nextBtn = document.querySelector(".slide_next_button");

  // 슬라이드 전체를 선택해 값을 변경해주기 위해 슬라이드 전체 선택하기
  let slideItems = document.querySelectorAll(".slide_item");
  // 마지막 문제까지 풀 경우 만점 페이지로 이동하기 위한 값
  const maxSlide = (movie.length)-2;

  //up 버튼에 이벤트 추가
  const upButtons = document.querySelectorAll(".up_btn")
  // console.log(upButtons)
  
  //down 버튼에도 같은 로직의 이벤트 추가
  const downButtons = document.querySelectorAll(".down_btn")
  
  // 첫 영화는 점수를 내놓고 있어야 하기 때문에
  const firstScore = document.getElementById("first-score")
  firstScore.style.width = (parseFloat(movie[0].rating) * 10) + '%'

  // 평점을 드러내기 위한 result-score array가 필요
  const resultScore = document.querySelectorAll(".result-score")
  // console.log(resultScore)
  // count class의 array
  const countArray = document.querySelectorAll(".count") 

  // answer-form의 array
  const answerForms = document.querySelectorAll("#answer-form")

  // 해당 기기에서의 최고 점수
  const bestScore = document.getElementById("best-score")
  // 게임에서의 현재 점수
  const nowScore = document.getElementById("now-score")
  // 로컬 스토리지에 최고 점수를 넣기 위한 key값
  const SCORE_KEY = "bestScore"

  // 점수를 화면에 드러내기 위한 함수
  const writeScore = () => {
    nowScore.innerHTML = currSlide;
    bestScore.innerHTML = localStorage.getItem(SCORE_KEY);
  }

  function putBackgroundImg() {
    for(let i=0;i<=slideItems.length;i++){
      //console.log(sItems[i])
      const backgroundSrc = "linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)),"+"url('" + movie[i].poster_path + "')"
      //console.log(backgroundSrc)
      sItems[i].style.backgroundImage = backgroundSrc
      sItems[i].style.backgroundColor = "black"
      sItems[i].style.backgroundRepeat = "no-repeat"
      sItems[i].style.backgroundSize = "contain"
      sItems[i].style.backgroundPosition = "center" 
    }
  }

 
  //up버튼 이벤트에 매칭되는 함수, 현재 페이지의 평점이 직전의 것보다 큰지 확인
  const isHigher = (event) => {
    event.preventDefault();
    if(movie[currSlide].rating < movie[currSlide+1].rating){
      if(currSlide < maxSlide){
        console.log(movie[currSlide].title,movie[currSlide].rating)
        console.log(movie[currSlide+1].title,movie[currSlide+1].rating)
        const word = document.createElement("h1");
        backCircle.innerText= "";
        word.innerText = "O";
        backCircle.style.backgroundColor = "green";
        backCircle.style.color = "white";
        backCircle.appendChild(word);
        upButtons[currSlide].classList.add("hidden")
        downButtons[currSlide].classList.add("hidden")
        resultScore[currSlide+1].classList.remove("hidden")
        countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
        setTimeout(function() {
          vsFlip();
          setTimeout(function() {
          nextMove();
          writeScore();
        }, 1300);
        }, 3900)
      }
      else{
        const lastForm = document.getElementById("full-score-form");
        const word = document.createElement("h1");
        backCircle.innerText= "";
        word.innerText = "O";
        backCircle.style.backgroundColor = "green";
        backCircle.style.color = "white";
        backCircle.appendChild(word);
        upButtons[currSlide].classList.add("hidden")
        downButtons[currSlide].classList.add("hidden")
        resultScore[currSlide+1].classList.remove("hidden")
        countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
        setTimeout(function() {
          vsFlip();
          setTimeout(() => {
            lastForm.submit();
          }, 1100);
        }, 3900)
      }
    }
    else if(movie[currSlide].rating > movie[currSlide+1].rating){
      const word = document.createElement("h1");
      backCircle.innerText= "";
      word.innerText = "X";
      backCircle.style.backgroundColor = "red";
      backCircle.style.color = "white";
      backCircle.appendChild(word);
      upButtons[currSlide].classList.add("hidden")
      downButtons[currSlide].classList.add("hidden")
      resultScore[currSlide+1].classList.remove("hidden")
      countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
      saveBestScore(currSlide);
      setTimeout(function() {
        vsFlip();
        setTimeout(() => {
          answerForms[currSlide].submit();
        }, 1100);
      }, 3900)
      // console.log(currSlide);
    }
  }

  //down버튼 이벤트에 매칭되는 함수, 현재 페이지의 평점이 직전의 것보다 작은지 확인
  const isLower = (event) => {
    event.preventDefault();
    if(movie[currSlide].rating > movie[currSlide+1].rating){
      if(currSlide < maxSlide){
        // console.log(movie[currSlide].title,movie[currSlide].rating)
        // console.log(movie[currSlide+1].title,movie[currSlide+1].rating)
        const word = document.createElement("h1");
        backCircle.innerText= "";
        word.innerText = "O";
        backCircle.style.backgroundColor = "green";
        backCircle.style.color = "white";
        backCircle.appendChild(word);
        upButtons[currSlide].classList.add("hidden")
        downButtons[currSlide].classList.add("hidden")
        resultScore[currSlide+1].classList.remove("hidden")
        countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
        setTimeout(function() {
          vsFlip();
          setTimeout(function() {
            nextMove();
            writeScore();
          }, 1300);
        }, 3900)
      }
      else{
        const lastForm = document.getElementById("full-score-form");
        const word = document.createElement("h1");
        backCircle.innerText= "";
        word.innerText = "O";
        backCircle.style.backgroundColor = "green";
        backCircle.style.color = "white";
        backCircle.appendChild(word);
        upButtons[currSlide].classList.add("hidden")
        downButtons[currSlide].classList.add("hidden")
        resultScore[currSlide+1].classList.remove("hidden")
        countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
        setTimeout(function() {
          vsFlip();
          setTimeout(() => {
            lastForm.submit();
          }, 1100);
        }, 3900)
      }
    }
    else if(movie[currSlide].rating < movie[currSlide+1].rating){
      const word = document.createElement("h1");
      backCircle.innerText= "";
      word.innerText = "X";
      backCircle.style.backgroundColor = "red";
      backCircle.style.color = "white";
      backCircle.appendChild(word);
      upButtons[currSlide].classList.add("hidden")
      downButtons[currSlide].classList.add("hidden")
      resultScore[currSlide+1].classList.remove("hidden")
      countScore(countArray[currSlide+1],ratings[currSlide+1], parseFloat(movie[currSlide+1].rating))
      saveBestScore(currSlide);
      setTimeout(function() {
        vsFlip();
        setTimeout(() => {
          answerForms[currSlide].submit();
        }, 1100);
      }, 3900)
      // console.log(currSlide)
    }
  }

  function vsFlip() {
    vsCircle.animate([
      {transform:"rotateY(0deg)"},
      {transform:"rotateY(180deg)"},
      {transform:"rotateY(360deg)"},
    ], {
      duration:2000,
      easing: "cubic-bezier(0.315, 1.060, 0.635, 0.015)"
      // iterationStart:0.5,
    });
  }

  upButtons.forEach((btn) => {
    btn.addEventListener("click", isHigher)
  })

  downButtons.forEach((btn) => {
    btn.addEventListener("click", isLower)
  })

  slideItems = document.querySelectorAll(".slide_item");
  //슬라이드를 이동시키기 위한 거리
  let offset = slideWidth + currSlide;

  function nextMove() {
    currSlide++;
    // 마지막 슬라이드 이상으로 넘어가지 않게 하기 위해서
    if (currSlide <= maxSlide) {
      // 슬라이드를 이동시키기 위한 offset 계산
      const offset = slideWidth * currSlide;
      // 각 슬라이드 아이템의 left에 offset 적용
      slideItems.forEach((i) => {
        i.style.setProperty('left', `${-offset}px`)
        // i.setAttribute("style", `left: ${-offset}px`);
      });
      //putBackgroundImg()
    } 
  }


  // 브라우저 화면이 조정될 때 마다 slideWidth를 변경하기 위해
  window.addEventListener("resize", () => {
    slideWidth = (slide.clientWidth)/2;
    const offset = slideWidth * currSlide;
    slideItems.forEach((i) => {
      i.setAttribute("style", `left: ${-offset}px`);
    });
    putBackgroundImg();
  });

  //숫자 증가 애니메이션을 위한 함수 max를 목표로 값으로 증가
  function countScore(counter, rating, max) {
    let now = max;

    const handle= setInterval(() => {
      counter.innerHTML = (Math.round((max - now)*100)/100).toFixed(2) + ' 점';
      rating.style.width = (Math.round((max - now)*100)/10) + '%';

      // 목표에 도달하면 정지
      if (now === 0) {
        clearInterval(handle);
      }
    
      // 적용될 수치, 점점 줄어듬
      const step = now/10;

      now -= step;
    }, 50);
  }

  function saveBestScore(finalScore) {
    if(localStorage.getItem(SCORE_KEY)===null){
      localStorage.setItem(SCORE_KEY, currSlide);
    }
    else if(finalScore > parseInt(localStorage.getItem(SCORE_KEY))){
      localStorage.setItem(SCORE_KEY, currSlide);
    }
  }

  // 이미지가 로딩 될 때 단 순히 공백으로 납두면 좋지 않기 떄문에 loading으로 덮어놓는다.
  window.onload = function() {
    const loader = document.querySelector(".loading");
    loader.classList.add("hidden");
  }

  writeScore();
  putBackgroundImg();

 </script>
{% endblock script %}